<style>
  .navbar {
    max-width: var(--container-max-size);
    padding: var(--space-7) var(--container-padding-sides);
    margin: 0 auto;
    display: flex;
    flex-direction: column;
  }
  
  .navbar-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: var(--space-5);
  }
  
  .navbar nav {
    width: 100%;
  }
  
  .navbar a {
    text-decoration: none;
    color: unset;
  }
  
  .navbar a:hover {
    color: var(--color-primary);
    transition: color 0.2s ease-in-out;
  }
  
  .navbar-links {
    list-style: none;
    display: flex;
    align-items: center;
    gap: var(--space-6);
    row-gap: var(--space-4);
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
  }
  
  .link-home {
    font-weight: bold;
    color: var(--color-primary);
    font-size: var(--font-size-lg);
  }
  
  @media (max-width: 768px) {
    .navbar-links {
      justify-content: center;
    }
  }
</style>

<header class="navbar">
  <div class="navbar-top">
    <div class="link-home">
      <a href="/">{{ site.shortTitle }}</a>
    </div>
    {% include "dark-toggler.liquid" %}
  </div>
  <nav>
    <ul class="navbar-links">
      <li><a href="/articles">Articles</a></li>
      <li><a href="/about">About</a></li>
      <li><a href="/uses">Uses</a></li>
      <li><a href="/rss.xml">RSS</a></li>
    </ul>
  </nav>
</header>
