<style>
  .navbar {
    max-width: var(--container-max-size);
    padding: var(--space-7) var(--container-padding-sides);
    margin: 0 auto;
  }
  
  .navbar-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .navbar a {
    text-decoration: none;
    color: unset;
  }
  
  .navbar a:hover {
    color: var(--color-primary);
    transition: color 0.2s ease-in-out;
  }
  
  .link-home {
    font-weight: 500;
    color: var(--color-primary);
    font-size: var(--font-size-lg);
  }
  
  .navbar-right {
    display: flex;
    align-items: center;
    gap: var(--space-4);
  }
  
  .navbar-right .nav-links {
    display: flex;
    list-style: none;
    gap: var(--space-4);
    align-items: center;
    margin: 0;
    padding: 0;
  }
  
  .navbar-right .dark-toggler-container {
    margin-left: var(--space-2);
    display: flex;
    align-items: center;
  }
  
  @media (max-width: 768px) {
    .navbar-right .nav-links {
      gap: var(--space-3);
    }
    
    .navbar-right {
      gap: var(--space-2);
    }
    
    .navbar-right .nav-links a {
      font-size: var(--font-size-xs);
    }
  }
</style>

<header class="navbar">
  <div class="navbar-top">
    <div class="link-home">
      <a href="/">{{ site.shortTitle }}</a>
    </div>
    
    <div class="navbar-right">
      <ul class="nav-links">
        <li><a href="/about">About</a></li>
        <li><a href="/uses">Uses</a></li>
      </ul>
      <div class="dark-toggler-container">
        {% include "dark-toggler.liquid" %}
      </div>
    </div>
  </div>
</header>
